version: '3.9'

networks:
  local_network:
    name: local_network
    external: true

services:
  proxy:
    image: nginx
    container_name: local_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
      - ./docker/nginx/nginx-coopbam.conf:/etc/nginx/nginx.conf
    networks:
      - local_network

  mysql:
    platform: linux/x86_64
    image: mysql:8
    container_name: local_db
    restart: on-failure
    working_dir: /app
    tty: true
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    volumes:
      - ./data:/app:rw
      - local_db_data:/var/lib/mysql
    networks:
      - local_network

volumes:
  local_db_data:
    driver: local