
networks:
  local_network:
    name: local_network
    external: true
    
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: S3cret
    volumes:
      - mongo_data:/data/db
      - ./data:/data:rw
    restart: unless-stopped
    networks:
      - local_network
volumes:
  mongo_data:
