*
!.gitignore
!coopbam.conf.dist
!acopagro.conf.dist
!sunarp.conf.dist
!modulo_consulta.conf.dist
!passion.conf.dist
!solidaridad.conf.dist
!liam_diario.conf.dist
!api_helios.conf.dist
!saeta.conf.dist